.jumbotron{
top: 10px;
color: #000000;
}
h1{

}
h3{

}
.container-fluid{
  background-color: #1c2938;
  color: #ffffff;
}
.card{

}
.profile{
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.panel p{
margin-top: 30px;
font-size:18px;
}
.row{

}
.col-md-6, .col-md-4 img{
  height: 200px;
  width: 400px;
  border-radius: 4px;
}
